{% load static %}
<script >
    function checkImageLoaded(img) {
       img.src = "{%  static 'image/datBoi.jpg' %}"; // This does not always work when common...
     }
</script>
<ul class="collection entry_table_header">
{% for anime in entries %}
     <li class="collection-item avatar" id ="entry_table_row">
     <a href="{% url 'main:animes_individual_page' entry_id=anime.id %}"><img  src="{{anime.thumbnail}}" class = "entry_table_thumbnail" onerror="checkImageLoaded(this)"></img></a>
     <div class="row entry_table_title">
            <span class="title hide-on-med-and-up">
                  <strong class="row">{{anime.combined_ranking_order}}. {{anime.title}}</strong>
            </span>
            <span class="title hide-on-small-only">
                  <div class="col s10">
                          <a href="{% url 'main:animes_individual_page' entry_id=anime.id %}" id = "black_link"><strong class="row">{{anime.title}}</strong></a>
                  </div>
            </span>
     </div>
     <div class="row hide-on-small-only hide-on-large-only entry_table_med_data">
            <div class="col s6">{{anime.release_year}} <br>{{anime.release_month}}</div>
            <div class="col s6">{{anime.players}}</div>
     </div>
     <div class="row hide-on-med-and-down entry_table_large_data">
            <div class="col s2">{{anime.release_year}} <br>{{anime.release_month}}</div>
            <div class="col s1">{{anime.type}}</div>
            <div class="col s1">{{anime.source}}</div>
            <div class="col s5">{{anime.genres_short}}</div>
            <div class="col s2">{{anime.studios}}</div>
            <div class="col s1">{{anime.runtime}}</div>
     </div>
    <span class="secondary-content right-align entry_table_header">
            <div class="row">
                  <div class="switch col m5 s12">
                         <label for = "e{{forloop.counter0}}">
                               Out
                               <script>
                                     var checkTail = getCheckTail({{forloop.counter0}})
                                     document.write('<input type=\"checkbox\" name =  \"e{{forloop.counter0}}\" id = \"e{{forloop.counter0}}\" onclick=\"updateEntries(this)\"' + checkTail);
                               </script>
                               <span class="lever"></span>
                               In
                        </label>
                  </div>
                  <div class="col m6 hide-on-small-only"><br><a class="waves-effect waves-light btn blue darken-2 valign-wrapper" 
                         href="{% url 'main:animes_individual_page' entry_id=anime.id %}">{{anime.combined_ranking_order}}  </a>
                  </div>
            </div>
     </span>
     </li>
{% endfor %}
</ul>