<div class="row hide-on-med-and-down entry_table_header">
<br>
    <strong>
    <div class="col s1 blank_column"><wbr></div>
    <div class="col s1">Title</div>
    <div class="col s2">Recommended Players</div>
    <div class="col s1">Minimum Age</div>
    <div class="col s2">Difficulty Rating (1-5)</div>
    <div class="col s2">Languge Requirement</div>
    <div class="col s1">Runtime (hrs)</div>
    <div class="col s1">Inclusion</div>
    <div class="col s1">Rank</div>
  </strong>
</div>
<div class="row hide-on-small-only hide-on-large-only entry_table_header">
<br>
    <strong>
    <div class="col s1 blank_column"><wbr></div>
    <div class="col s1">Title</div>
    <div class="col s2">Year</div>
    <div class="col s5">Playtime (hrs)</div>
    <div class="col s3">Inclusion</div>
  </strong>
</div>
<div class="row hide-on-med-and-up entry_table_header">
<br>
<strong>
<div class="col s2 blank_column"><wbr></div>
<div class="col s5">Title</div>
<div class="col s5">Inclusion</div>
</strong>
</div>