{% load static %}
<nav class="brown darken-2">
<div class="nav-wrapper">
    <ul>
  <li><img  class = "materialboxed" src="{% static 'image/Logo.png'  %}"></li>
</ul>
  <ul class="right hide-on-med-and-down !important">
    {% for media in media_databases %}
          <li style = "width: {{button_max_width}}px">
                <a  href="{% url 'main:'|add:media.slug_name|add:'_homepage' %}">
                      <i class="fa {{media.fa_icon|safe}} style" style = "padding-left: 1%"></i>
                </a><a href="{% url 'main:'|add:media.slug_name|add:'_homepage' %}" style = "text-align: right">{{media.card_name}}</a>
         </li>
    {% endfor %}
   </ul>
   <ul class="right hide-on-large-only">
         <button class ="btn waves-effect waves-light brown darken-2" id = "showSmallNavigation" style = "font-size: 40px; height: 70px"><a><i class="material-icons">dehaze</i></a></button>
   </ul>
</div>
</nav>
<div class="row hide-on-large-only" style = "display: none" id = "small-navigation">
  <ul class="tabs">
  <br>
   {% for media in media_databases %}
   <li class="tab col s6 m4"><a href="{% url 'main:'|add:media.slug_name|add:'_homepage' %}" style = "color: #6299a9">{{media.card_name}} 
         <i class="med material-icons" style = "font-size: 40px; color: #6299a9">{{media.materialize_icon}}</i></a>
   </li>
   {% endfor %}
  </ul>
</div>
</nav>
<script src = "{%  static 'js/materializedBox.js' %}"></script>