<div class="row hide-on-med-and-down entry_table_header">
<br>
    <strong>
    <div class="col s1 blank_column"><wbr></div>
    <div class="col s1">Title</div>
    <div class="col s2">Rating</div>
    <div class="col s2">Developers</div>
    <div class="col s2">Genre</div>
    <div class="col s1">Players</div>
    <div class="col s1">Runtime <br>(hours)</div>
    <div class="col s1">Inclusion</div>
    <div class="col s1">Rank</div>
  </strong>
</div>
<div class="row hide-on-small-only hide-on-large-only entry_table_header">
<br>
    <strong>
    <div class="col s1 blank_column"><wbr></div>
    <div class="col s1">Title</div>
    <div class="col s2">Year</div>
    <div class="col s5">Players</div>
    <div class="col s3">Inclusion</div>
  </strong>
</div>
<div class="row hide-on-med-and-up entry_table_header">
<br>
<strong>
<div class="col s2 blank_column"><wbr></div>
<div class="col s5">Title</div>
<div class="col s5">Inclusion</div>
</strong>
</div>